.proportion

    .at-input__title
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    .input
        width: 140px
        height: 100% !important
        padding: 0 10px
        box-sizing: border-box
        border: 1px solid #ccc
        border-radius: 10px
