.no-collect
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    .content
        text-align: center
        .text
            color: #777

.collect
    padding: 0
    .cancel-collect
        color: #09f