.order-info
    .at-accordion__info__title
        color: #09f

    .at-accordion__content
        padding-left: 20px
        box-sizing: border-box

    .title
        padding: 24px 0
        font-size: 32px
        font-weight: bold

    .page-section
        padding: 0 20px

    .flex-wrap
        display: flex
        align-items: center
        justify-content: space-between

    .action
        display: inline-flex
        justify-content: flex-end
        margin-top: 20px
        width 100%

    .at-list__item .item-extra__icon
        right 0

    .at-input__input
        text-align: right

    .at-input__title
        width: 40%
        
    .at-list__item-extra
        max-width: 60%

    taro-button-core+taro-button-core
        margin-top 0
    .AtDivider
        height: 40px
