.no-data
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    .content
        text-align: center
        .text
            font-size: 30px
            color: #777