.patient-create
    padding: 0px 40px 20px
    .action
        display: inline-flex
        justify-content: flex-end
        margin-top: 20px
        width 100%

    .at-input--disabled
        opacity 1

    .at-list
        min-width: 400px;
        min-height: 34px;

    .at-list__item
        padding: 0

    .at-list__item .item-extra__info
        font-size: 30px
        color: #333

    .title
        padding: 24px 0
        font-size: 32px
        font-weight: bold

    .flex-wrap
        display: flex
        align-items: center

    .gender
        display: flex
        align-items: center
        justify-content: space-between
        flex: 1