.button-primary
    color: #fff
    background-color: #409eff
    border-color: #409eff

.button-primary-ghost
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;

.button-success
    color: #fff
    background-color: #67c23a
    border-color: #67c23a

.button-success-ghost
    color: #67c23a;
    background: #f0f9eb;
    border-color: #c2e7b0;

.button-info
    color: #fff
    background-color: #909399
    border-color: #909399

.button-info-ghost
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;

.button-warring
    color: #fff
    background-color: #e6a23c
    border-color: #e6a23c

.button-warring-ghost
    color: #e6a23c;
    background: #fdf6ec;
    border-color: #f5dab1;

.button-error
    color: #fff
    background-color: #f56c6c
    border-color: #f56c6c

.button-error-ghost
    color: #f56c6c;
    background: #fef0f0;
    border-color: #fbc4c4;