.list
    background: #fff
    margin-top: 20px
    padding: 0 20px

.item
    display: flex
    height: 100px
    align-items: center
    justify-content: space-between

.arrow
    width: 20px
    height: 20px
    border-top: 2px solid #666
    border-right: 2px solid #666
    transform: rotate(45deg)
    float: right;

.logout
    position absolute
    bottom: 100px
    left: 0
    padding: 0 40px
    box-sizing: border-box
    width: 100%